.iconNavbar{
  width: 3%;
  height: auto
}

.navbarCustom{
  background-color: #231815 !important;
}


.navItemCustom{
  color: #fff !important;

}
.btnMenuCustom{
  color: #fff !important;
background-color: #fff !important;
}
