<div class="form-container">
  <form
    class="containerCustom"
    [formGroup]="measuresForm"
    (ngSubmit)="onSaveForm()"
    autocomplete="off"
  >
    <div class="card cardCustom">
      <div class="card-header bold-text">Medición de presión arterial</div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 d-flex justify-content-center pt-3">
            <mat-form-field appearance="fill">
              <mat-label>Ingresa fecha</mat-label>
              <input
                formControlName="dateNew"
                matInput
                [matDatepicker]="picker"
              />

              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row pt-3">
          <div
            class="col-4 offset-4 d-flex justify-content-center align-items-center shadowCustom"
          >
            <h4 class="bold-text p-0 m-0">Mano izquierda</h4>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-12 col-md-6 pt-3 d-flex justify-content-center">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Sistólica</mat-label>
              <input
                onlyNumbers
                formControlName="izqSistolica"
                matInput
                placeholder="ingresa medida Sistólica"
              />
              <mat-error *ngIf="measuresForm.get('izqSistolica')?.invalid"
                >Campo obligatorio</mat-error
              >
              <mat-error
                *ngIf="measuresForm.get('izqSistolica')?.hasError('max')"
                >ingresar solo 3 cifras</mat-error
              >
            </mat-form-field>
          </div>
          <div class="col-12 col-md-6 pt-3 d-flex justify-content-center">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Diastólica</mat-label>
              <input
                onlyNumbers
                formControlName="izqDiastolica"
                matInput
                placeholder="ingresa medida Diastólica"
              />
              <mat-error *ngIf="measuresForm.get('izqDiastolica')?.invalid"
                >Campo obligatorio</mat-error
              >
              <mat-error
                *ngIf="measuresForm.get('izqDiastolica')?.hasError('max')"
                >ingresar solo 3 cifras</mat-error
              >
            </mat-form-field>
          </div>
        </div>
        <div class="row pt-3">
          <div
            class="col-4 offset-4 d-flex justify-content-center align-items-center shadowCustom"
          >
            <h4 class="bold-text p-0 m-0">Mano derecha</h4>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-12 col-md-6 pt-3 d-flex justify-content-center">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Sistólica</mat-label>
              <input
                onlyNumbers
                formControlName="derSistolica"
                matInput
                placeholder="ingresa medida Sistólica"
              />
              <mat-error *ngIf="measuresForm.get('derSistolica')?.invalid"
                >Campo obligatorio</mat-error
              >
              <mat-error
                *ngIf="measuresForm.get('derSistolica')?.hasError('max')"
                >ingresar solo 3 cifras</mat-error
              >
            </mat-form-field>
          </div>
          <div class="col-12 col-md-6 pt-3 d-flex justify-content-center">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Diastólica</mat-label>
              <input
                onlyNumbers
                formControlName="derDiastolica"
                matInput
                placeholder="ingresa medida Diastólica"
              />
              <mat-error *ngIf="measuresForm.get('derDiastolica')?.invalid"
                >Campo obligatorio</mat-error
              >
              <mat-error
                *ngIf="measuresForm.get('derDiastolica')?.hasError('max')"
                >ingresar solo 3 cifras</mat-error
              >
            </mat-form-field>
          </div>
        </div>
        <div class="d-grid gap-2 col-12 col-md-6 mx-auto mt-5">
          <button
            [disabled]="
              measuresForm.invalid ||
              this.measuresForm.get('izqSistolica')?.value == ' '
            "
            type="submit"
            class="btn btn-success btn-block"
          >
            Guardar
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
